.cart{
    background: rgba(255, 153, 0, 0.3)
    ;
    padding: 20px;
    position: sticky;
    top: 0;
}
.cart-btn{
    background: red;
    color: white;
    width: 90%;
}
.cart span{
    font-size: 20px;
    padding-right: 20px;
    margin: 10px auto;
}
.clear{
    color: white;
    font-size: 20px;
}